<!-- Generated template for the UserProfileComponent component -->
<div >

  <div class="" >
    <div class="row">
      <div class="col s12">
        <div class="card white">
          <div class="card-content black-text z-depth-5">
              <h2>Perfil</h2>
              <hr>
                <div class="row" style="margin-top:8%">
                  <p>Direccion</p>
                  <input type="text" name="Direccion" readonly>
                </div>
                <div class="row" style="margin-top:8%">
                  <p>Fecha de nacimiento</p>
                  
                  <input type="text" name="Direccion" readonly >
                </div>
                <div class="row" style="margin-top:8%">
                  <p>Padecimientos</p>
                  <input type="text" name="Direccion" readonly>
                </div>
          </div>
        </div>
        <div class="card white">
        	<div class="card-content black-text z-depth-5">
          	<h2>Leyenda</h2>
              <hr>
              <div class="row">
                <div class="row" style="margin-top:8%">
                  <p>El jesus está todo pendejo si o no raza la neta esta bien meco
                		le gusta la verga bien machin.</p>
                  
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



