<!-- Generated template for the UserActivitiesComponent component -->

<div style="background-color: #CCC">

  <div class="cyan darken-4 white-text">
    <p style="margin-right: 10%; margin-top: 5%" class="white-text" id="profile_button" (click)="openProfile()">Ver perfil</p>
    <div class="center-align">
        <img style="margin-top: 5%; margin-bottom: -3%;" id="profile_image" class="responsive-img circle" src="{{ cliente.ruta_img }}">
    </div>
    <div id="name_container" class="center-align">
      <p><strong>{{ cliente.nombre }} {{ cliente.apellidos }}<br><span>{{ cliente.numero_referencia }}</span></strong></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card white" (click)="openConfig()">
        <div class="row">
          <div class="col s12">
            <div class="col s10">
              <p class="center-align">Presupuesto ${{ cliente.presupuesto }}</p>
            </div>
            <div id="config_button" class="col s2">
              <i class="material-icons">keyboard_arrow_right</i>
            </div>
          </div>
          <!--<div class="card-content black-text ">-->
          <!--</div>-->
        </div>
      </div>

      <div class="card white">
        <div class="card-content black-text">
          <h6>Gastos y consumo</h6>
          <hr>
          <div id="chart_div">
          </div>
        </div>
      </div>

      <div class="card white">
        <div class="card-content black-text">
          <h6>Productos más consumidos</h6>
          <hr>

          <div *ngFor="let cat of catGastos">
            <div class="row">
              <div class="col s12">
                <div class="col s9">
                  <p>{{ cat.nombre }}</p>
                </div>
                <div class="col s3">
                  <p>$ {{ cat.gasto }}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

