<!-- Generated template for the UserConfigComponent component -->
    <div class="row">
      <div class="col s12">
        <div class="card white">
          <div class="card-content black-text">
              <h2>Presupuesto</h2>
              <hr>
              <div class="row">
                <p>Presupuesto por semana</p>
                <div style="margin-top:10%">
                  <div class="input-field col s12">
                    <input id="presupuesto" type="text" class="validate" [(ngModel)]="cliente.presupuesto"/>
                    <label for="presupuesto" class="">Presupuesto</label>
                  </div>
                </div>    
              </div>
              <div class="row" style="clear:both">
                  <a class="waves-effect waves-light btn green">Guardar</a>
                  <div class="right" style="margin-top:20%">
                      <div class="switch ">
                        <label>
                          Desactivar
                          <input id='sw' type="checkbox">
                          <span class="lever"></span>
                          Activar
                        </label>
                      </div>
                  </div>  
              </div>  
          </div>
        </div>
      </div>
    </div>

    <div class="row white" style="clear:both">
        <ul id="tabs-swipe-demo" class="tabs scr">
            <li class="tab col s3"><a class="blue-text" (click)="tabs(0)">Snacks</a></li>
            <li class="tab col s3"><a class="blue-text" (click)="tabs(1)">Dulces</a></li>
            <li class="tab col s3"><a class="blue-text" (click)="tabs(2)">Bebidas</a></li>
            <li class="tab col s3"><a class="blue-text" (click)="tabs(3)">Alimentos</a></li>
        </ul>
        <div [hidden]="!tab[0]" id="test-swipe-1" class="col s12 white content">
          <div class="row">
            <div class="col s12">
          
              <div class="col s6" *ngFor="let producto of productos; let i = index">
                  <div class="card blue-grey darken-1"  >
                    <div class="card-content white-text">
                      {{producto.nombre}}
                    </div>
                  </div>
              </div>

            </div>
          </div>
        </div>
        <div [hidden]="!tab[1]" id="test-swipe-2" class="col s12 white content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam aut repudiandae earum reiciendis distinctio aperiam assumenda provident soluta alias eligendi, cum quam dolor nostrum, ea expedita quia temporibus accusamus sequi?</p>
        </div>
        <div [hidden]="!tab[2]" id="test-swipe-3" class="col s12 white content">Test 3</div>
        <div [hidden]="!tab[3]" id="test-swipe-4" class="col s12 white content">Test 4</div>
    </div>
  

