<!-- Generated template for the UserConfigComponent component -->
    <div class="row">
      <div class="col s12">
        <div class="card white">
          <div class="card-content black-text">
              <h2>Presupuesto</h2>
              <hr>
              <div class="row">
                <p>Presupuesto por semana</p>
                <div style="margin-top:10%">
                  <div class="input-field col s12">
                    <input id="presupuesto" type="text" class="validate" value="$200"/>
                    <label for="presupuesto" class="">Presupuesto</label>
                  </div>
                </div>
                <div style="margin-top:10%">
                  <div class="switch">
                    <label>
                      Desactivar
                      <input type="checkbox">
                      <span class="lever"></span>
                      Activar
                    </label>
                  </div>
                </div>
              </div>        
          </div>
        </div>
      </div>
    </div>

